@import "tailwindcss";

@theme {
  --color-primary: #38bdf8;
  --color-secondary: #fbbf24;
  --color-background: #0f172a;
  --color-card: #1e293b;
  --color-text: #e2e8f0;
  --heading: "36px";
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
